.menu1 {
  color: #3b2760;
  font: 700 20px "Open Sans Condensed", sans-serif;

  align-self: flex-start;
  padding: 10px;
}
.menu1 a {
  text-decoration: none;
  padding: 10px 10px;
  font-size: 16px;
}
